# Remove this line first before doing anything else
_____REMOVE_____THIS_____LINE_____=true


# ----------- REQUIRED ----------- #


# Get them from github
GITHUB_USERNAME=""
GITHUB_EMAIL=""


# heroku dashboard
HEROKU_API_KEY=""
